name: Playwright Tests

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t playwright-tests .

      - name: Run Playwright tests
        run: docker run --name pw-tests -e BASE_URL=https://google.com playwright-tests
        continue-on-error: true

      - name: Copy Playwright report from container
        run: |
          docker cp pw-tests:/app/playwright-report ./playwright-report

      - name: Upload Playwright report
        uses: actions/upload-artifact@v4
        with:
          name: playwright-html-report
          path: playwright-report
      - name: Remove Docker container
        run: docker rm pw-tests